<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.naonao.grab12306ticket.version.single.database.mapper.GrabTicketInformationMapper">

    <!--name space-->
    <select id="getGrabTicketInformationById" resultType="GrabTicketInformationTable">
        select * from grab_ticket_information where id = #{id}
    </select>

    <select id="getGrabTicketInformationByHash" resultType="GrabTicketInformationTable">
        select * from grab_ticket_information where hash = #{hash}
    </select>



    <insert id="insert">
        insert into grab_ticket_information(
            afterTime,
            beforeTime,
            trainDate,
            fromStation,
            toStation,
            purposeCode,
            trainName,
            backTrainDate,
            passengerName,
            documentType,
            documentNumber,
            mobile,
            seatType,
            expectSeatNumber,
            hash
        )
        values(
            #{afterTime},
            #{beforeTime},
            #{trainDate},
            #{fromStation},
            #{toStation},
            #{purposeCode},
            #{trainName},
            #{backTrainDate},
            #{passengerName},
            #{documentType},
            #{documentNumber},
            #{mobile},
            #{seatType},
            #{expectSeatNumber},
            #{hash}
        )
    </insert>

    <delete id="delete">
        delete from grab_ticket_information where hash = #{hash}
    </delete>

    <update id="update">
        update grab_ticket_information
        set
            afterTime = #{afterTime},
            beforeTime = #{beforeTime},
            trainDate = #{trainDate},
            fromStation = #{fromStation},
            toStation = #{toStation},
            purposeCode = #{purposeCode},
            trainName = #{trainName},
            backTrainDate = #{backTrainDate},
            passengerName = #{passengerName},
            documentType = #{documentType},
            documentNumber = #{documentNumber},
            mobile = #{mobile},
            seatType = #{seatType},
            expectSeatNumber = #{expectSeatNumber}
        where
            hash = #{hash}
    </update>
</mapper>