<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.naonao.grab12306ticket.version.single.database.mapper.InitializationMapper">

    <update id="createUserInformationTable">
        CREATE TABLE `user_information` (
          `id` bigint(20) NOT NULL AUTO_INCREMENT,
          `username12306` varchar(20) NOT NULL,
          `password12306` varchar(20) NOT NULL,
          `hash` char(32) NOT NULL,
           PRIMARY KEY (`id`) USING BTREE,
          UNIQUE KEY `id` (`id`),
          UNIQUE KEY `hash` (`hash`)
        ) ENGINE=InnoDB AUTO_INCREMENT=0 DEFAULT CHARSET=utf8
    </update>

    <update id="createGrabTicketInformationTable">
        CREATE TABLE `grab_ticket_information` (
          `id` bigint(20) NOT NULL AUTO_INCREMENT,
          `afterTime` varchar(6) NOT NULL,
          `beforeTime` varchar(6) NOT NULL,
          `trainDate` varchar(10) NOT NULL,
          `fromStation` varchar(10) NOT NULL,
          `toStation` varchar(10) NOT NULL,
          `purposeCode` varchar(10) NOT NULL,
          `trainName` varchar(10) NOT NULL,
          `backTrainDate` varchar(10) NOT NULL,
          `passengerName` varchar(10) NOT NULL,
          `documentType` varchar(10) NOT NULL,
          `documentNumber` varchar(50) NOT NULL,
          `mobile` varchar(20) NOT NULL,
          `seatType` varchar(10) NOT NULL,
          `expectSeatNumber` varchar(10) NOT NULL,
          `hash` char(32) NOT NULL,
           PRIMARY KEY (`id`) USING BTREE,
          UNIQUE KEY `id` (`id`),
          UNIQUE KEY `hash` (`hash`)
        ) ENGINE=InnoDB AUTO_INCREMENT=0 DEFAULT CHARSET=utf8
    </update>

    <update id="createNotifyInformationTable">
        CREATE TABLE `notify_information` (
          `id` bigint(20) NOT NULL AUTO_INCREMENT,
          `receiverEmail` varchar(100) NOT NULL,
          `sendEmail` varchar(30) NOT NULL,
          `sendEmailHost` varchar(20) NOT NULL,
          `sendEmailPort` varchar(5) NOT NULL,
          `sendEmailUsername` varchar(30) NOT NULL,
          `sendEmailPassword` varchar(30) NOT NULL,
          `receiverPhone` varchar(100) NOT NULL,
          `notifyMode` varchar(20) NOT NULL,
          `hash` char(32) NOT NULL,
           PRIMARY KEY (`id`) USING BTREE,
          UNIQUE KEY `id` (`id`),
          UNIQUE KEY `hash` (`hash`)
        ) ENGINE=InnoDB AUTO_INCREMENT=0 DEFAULT CHARSET=utf8
    </update>

    <update id="createStatusInformationTable">
        CREATE TABLE `status_information` (
          `id` bigint(20) NOT NULL AUTO_INCREMENT,
          `status` varchar(255) NOT NULL,
          `taskStartTime` varchar(20) NOT NULL,
          `taskEndTime` varchar(20) NOT NULL,
          `taskLastRunTime` varchar(20) NOT NULL,
          `tryCount` bigint(10) NOT NULL,
          `message` varchar(255) NOT NULL,
          `hash` char(32) NOT NULL,
           PRIMARY KEY (`id`) USING BTREE,
          UNIQUE KEY `id` (`id`),
          UNIQUE KEY `hash` (`hash`)
        ) ENGINE=InnoDB AUTO_INCREMENT=0 DEFAULT CHARSET=utf8
    </update>

</mapper>