<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="UserInformationMapper">

    <!--name space-->
    <select id="getUsernameAndPasswordById" resultType="UserInformationTable">
        select * from user_information where id = #{id}
    </select>

    <select id="getUsernameAndPasswordByHash" resultType="UserInformationTable">
        select * from user_information where hash = #{hash}
    </select>

    <select id="getPasswordByUsername" resultType="UserInformationTable">
        select * from user_information where  username12306 = #{username12306}
    </select>


    <insert id="insert">
        insert into user_information(
            username12306,
            password12306,
            hash
        )
        values(
            #{username12306},
            #{password12306},
            #{hash}
        )
    </insert>

    <delete id="delete">
        delete from user_information where hash = #{hash}
    </delete>

    <update id="update">
        update user_information
        set username12306 = #{username12306},
            password12306 = #{password12306}
        where hash = #{hash}
    </update>
</mapper>